#current>.section>.article>.image{
    height: 280px;
}
#past>.section>.article>.image{
    height: 280px;
}


.content>.section>.article>.segment>h3{
    height: 40px; overflow: hidden;
}

div#ftrWrap>.footer>.segment>.article{
    display: none;
}