#hdrWrap>.header{
    margin-top: 30px;
}
#hdrWrap>.header>.logo{
    width: 25%; height: 25%;
    background-size: contain; background-repeat: no-repeat;
}
#hdrWrap>.header>.icon{
    font-size: 16px; margin-top: -10px;
}
div.sideBar{
    width: 45%;
}
div.sideBar>.menu{
    margin-top: 0;
}
div.sideBar>.menu>ul:first-of-type{
    margin-top: 0;
}
div.sideBar>.menu>hr:nth-of-type(1){
    margin-top: 30px;
}

div.content{
    padding-top: 40px;
}
#title>.segment>h2{
    font-size: 18px;
}
#title>.segment>h4{
    font-size: 14px; line-height: 20px;
}
#title>.segment>ul{
    display: none;
}
#title>.segment>h5{
    line-height: 60px;
}
#exhibition{
    padding-top: 20px;
}
#exhibition>.article>.image{
    height: 120px;
}
#exhibition>.i1{
    height: 200px;
}
.content>.segment>p{
    font-size: 14px; line-height: 20px;
}
#artist>.section>.article{
    width: calc(50% - 20px);
}
#artist>.section>.article>.image{
    height: 120px;
}
#artist>.section>.article>h3{
    font-size: 14px; line-height: 40px;
}
#artist>.section>.article:nth-of-type(3)~div{
    margin-top: 0;
}
#artist>.section>.article:nth-of-type(2)~div{
    margin-top: 20px;
}
#installation_view>.section>.image{
    height: 120px;
}

div#ftrWrap{
    padding-top: 80px;
}
div#ftrWrap>.footer>.logo{
    width: 80%; height: 90px;
    background-size: 30%;
    background-position: left;
    margin-left: 10px;
}
div#ftrWrap>.footer>.segment>p{
    display: none;
}