/*sub_1.css*/
#hdrWrap>.header>.logo{background-image: url(../img/logo_black.png);}

.content>.segment>p{
    margin: 0 10px; margin-top: -10px;
    text-align: justify; line-height: 30px; font-size: 16px; color: #606060;
}

#title>.segment>h4{
    font-size: 18px; font-weight: 400; line-height: 40px; color: #666;
}
#title>.segment>h5{
    font-size: 14px; font-weight: 400; line-height: 80px; color: #666; letter-spacing: 1px;
}
#title>.segment>ul{}
#title>.segment>ul>li{
    font-size: 14px; font-weight: 400; line-height: 40px; letter-spacing: 2px; color: #222;
    float: left; margin-right: 40px;
}
#title>.segment>ul>li:hover{
    color: #e1e1e1;
}

#exhibition{
    max-width: 1200px;
    width: 90%; margin: 0 auto;
    padding-top: 40px;
    overflow: hidden;
}
#exhibition>.i1{
    width: calc(100% - 20px); height: 560px;
    background-color: #f4f4f4;
    margin: 0 10px;
    background-image: url(../img/sub1_exhibition_01.jpg);
}
#exhibition>.article{
    overflow: hidden;
}
#exhibition>.article>.image{
    width: calc(50% - 20px); height: 340px;
    background-color: #f4f4f4;
    margin: 0 10px;
    margin-top: 20px;
    float: left;
}
#exhibition>.article>.i2{background-image: url(../img/sub1_exhibition_02.jpg);}
#exhibition>.article>.i3{background-image: url(../img/sub1_exhibition_03.jpg);}
#exhibition>.header{
    width: 1200px;
    margin-top: 40px;
}
#exhibition>.header>h5::after{
    width: 88%;
}
div#exhibition>.segment{
    width: 100%;
}

#artist{
    max-width: 1200px; width: 90%; margin: 0 auto;
}
#artist>.header>h5::after{
    width: 96%;
}
#artist>.section{
    overflow: hidden;
}
#artist>.section>.article{
    width: calc(33.33% - 20px);
    margin: 0 10px;
    float: left;
}
#artist>.section>.article>.image{
    background-size: 110%;
    background-position: center;
    transition: background-size 0.3s;
}
#artist>.section>.article>.i1{background-image: url(../img/sub1_exhibition_04.jpg);}
#artist>.section>.article>.i2{background-image: url(../img/sub1_exhibition_05.jpg);}
#artist>.section>.article>.i3{background-image: url(../img/sub1_exhibition_06.jpg);}
#artist>.section>.article>.i4{background-image: url(../img/sub1_exhibition_07.jpg);}
#artist>.section>.article>.i5{background-image: url(../img/sub1_exhibition_08.jpg);}
#artist>.section>.article>.i6{background-image: url(../img/sub1_exhibition_09.jpg);}
#artist>.section>.article>.i7{background-image: url(../img/sub1_exhibition_10.jpg);}
#artist>.section>.article>.i8{background-image: url(../img/sub1_exhibition_11.jpg);}

#artist>.section>.article>.image:hover{
    cursor: pointer;
    background-size: 100%;
}
#artist>.section>.article:nth-of-type(3)~div{
    margin-top: 40px;
}
#artist>.section>.article>.image{
    height: 240px;
    background-color: #f4f4f4;
}
#artist>.section>.article>.image:hover{
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#artist>.section>.article>h3{
    font-weight: 400; line-height: 80px;
}

#biography{
    max-width: 1200px; width: 90%; margin: 0 auto;
}
#biography>.header>h5::after{
    width: 92%;
}

#installation_view{
    max-width: 1200px; width: 90%; margin: 0 auto;
}
#installation_view>.header>h5::after{
    width: 89%;
}
#installation_view>.section{
    overflow: hidden;
}
#installation_view>.section>.image{
    width: calc(50% - 20px); height: 340px;
    background-color: #f4f4f4;
    margin: 0 10px;
    float: left;
}
#installation_view>.section>.i1{background-image: url(../img/sub1_exhibition_12.jpg);}
#installation_view>.section>.i2{background-image: url(../img/sub1_exhibition_13.jpg);}
#installation_view>.section>.i3{background-image: url(../img/sub1_exhibition_14.jpg);}
#installation_view>.section>.i4{background-image: url(../img/sub1_exhibition_15.jpg);}
#installation_view>.section>.i5{background-image: url(../img/sub1_exhibition_16.jpg);}
#installation_view>.section>.i6{background-image: url(../img/sub1_exhibition_17.jpg);}
#installation_view>.section>.image:nth-of-type(2)~div{
    margin-top: 20px;
}

div#ftrWrap{
    position: relative; bottom: 0;
}