/*sub_2.css*/
#hdrWrap>.header>.logo{background-image: url(../img/logo_black.png);}

#tWrap{
    position: relative; z-index: 1;
}
#tWrap>.tab{
    position: absolute; right: 0;
    margin: 0 10px;
    /*background-color: #EEE;*/
    margin-top: -30px;
}
#tWrap>.tab>.menu{
    width: 280px;
    background-color: transparent;
    float: left;
}
#tWrap>.tab>.menu>h5{
    line-height: 40px; color: #000;
    font-size: 12px; text-transform: uppercase; letter-spacing: 1px;
    float: left;
}
#tWrap>.tab>.menu>input{
    height: 40px; width: 200px;
    border-style: hidden;
    background-color: transparent;
    padding-left: 10px;
}
#tWrap>.tab>.menu>button{
    float: right;
    height: 40px;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

#catalogue{
    max-width: 1200px; width: 90%; margin: 0 auto;
    padding-top: 40px;
}
#catalogue>.section{
    overflow: hidden;
}
#catalogue>.section>.article{
    width: calc(33.33% - 20px);
    float: left; margin: 0 10px;
}
#catalogue>.section>.article:nth-of-type(3)~div{
    margin-top: 80px;
}
#catalogue>.section>.article>.image{
    height: 380px; background-color: #f4f4f4;
    background-size: 110%;
    background-position: center;
    transition: background-size 0.3s;
}

#catalogue>.section>.article>.i1{background-image: url(../img/sub2_catalogue_01.jpg);}
#catalogue>.section>.article>.i2{background-image: url(../img/sub2_catalogue_02.jpg);}
#catalogue>.section>.article>.i3{background-image: url(../img/sub2_catalogue_03.jpg); border: 1px solid #f4f4f4;}
#catalogue>.section>.article>.i4{background-image: url(../img/sub2_catalogue_04.jpg); border: 1px solid #f4f4f4;}
#catalogue>.section>.article>.i5{background-image: url(../img/sub2_catalogue_05.jpg);}
#catalogue>.section>.article>.i6{background-image: url(../img/sub2_catalogue_06.jpg); border: 1px solid #f4f4f4;}
#catalogue>.section>.article>.i7{background-image: url(../img/sub2_catalogue_07.jpg);}
#catalogue>.section>.article>.i8{background-image: url(../img/sub2_catalogue_08.jpg);}
#catalogue>.section>.article>.i9{background-image: url(../img/sub2_catalogue_09.jpg);}
#catalogue>.section>.article>.i10{background-image: url(../img/sub2_catalogue_10.jpg);}
#catalogue>.section>.article>.i11{background-image: url(../img/sub2_catalogue_11.jpg);}
#catalogue>.section>.article>.i12{background-image: url(../img/sub2_catalogue_12.jpg);}

#catalogue>.section>.article>.image:hover{
    /*background-color: rgba(0, 0, 0, 0.2);*/
    cursor: pointer;
    background-size: 100%;
}
#catalogue>.section>.article>.segment>h3{
    margin-top: 10px;
    width: 380px; overflow: hidden;
}
#catalogue>.section>.article>.segment>p{
    line-height: 20px; margin: 0;
}